.align-right{
    text-align: right;
}

.align-center{
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 10px;
    width: 95%;
}

th {
    padding: 10px;
    background: #d4cfcf;
    border: 1px solid;
}

td {
    padding: 10px;
    border: 1px solid;
}

.d-flex{
    display: flex;
}

div.toolbarGrid {
    height: 40px;
    margin: 10px;
    border: 1px solid;
}

.buttonItem {
    padding: 10px;
    border-right: 1px solid;
    cursor: pointer;
    background: #f7dbdb;
}

body{
    margin: 0;
    padding: 0;
}
a:visited{
    color:black;
}

.content{
    height: calc(100% - 100px);
    border: 1px solid;
    border-collapse: collapse;
}

.selectedRow{
    background: #c6c6f7 !important;
}
.formDetail{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.row-item{
    width: 100%;
    height: 80px;
}

.flex-1{
    flex: 1;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.notValidControl{
    border-color: red;
}
.loading{
    position: fixed;
    display: block;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .disable{
      opacity: 0.5;
  }